<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flixio</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- CSSファイルを読み込む -->
  <%= stylesheet_link_tag 'style', media: 'all' %>
</head>
<body>
  <!-- ヘッダー -->
  <header>
    <nav>
      <h3 class="flixio-title"><%= link_to 'Flixio', products_path, class: 'title-link' %></h3>
      <h2>あなたの再生リスト</h2> 
    </nav>
  </header>
</div>
</h2>

  <div style="margin: 20px">
    <% if flash[:list_des] %>
      <%= flash[:list_des] %>
    <% end %>
  </div>

<div class="container">
  <div class="product-container-wrapper">
    <% @listitems.each do |e| %>
      <div class="product-container">
        <% product = Product.find(e.product_id) %>
        
        <!-- サムネイル画像 -->
        <% if product.thumbnail.attached? %>
          <%= link_to product_path(product) do %>
            <%= image_tag product.thumbnail, class: "product-thumbnail" %>
          <% end %>
        <% else %>
          <%= image_tag 'hiyoko.png', class: "product-thumbnail" %> <!-- デフォルトサムネイル -->
        <% end %>
        
        <!-- 商品名 -->
        <h3><%= product.name %></h3>
        
        <!-- 削除リンク -->
        <%= link_to '削除', listitem_path(e), data: { turbo_method: :delete }, class: "button register-btn" %>
      </div>
    <% end %>
  </div>

  <!-- 一覧に戻るリンク -->
  <div class="back-to-index">
    <%= link_to "一覧に戻る", products_path, class: "button register-btn" %>
  </div>
</div>

