<h2>検索結果
<div class="search_form">
  <%= form_with url: search_results_path, local: true, method: :get do |f| %>
    <%= f.text_field :word %>
    <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
    <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>
</div>
</h2>

<table class="table table-hover table-inverse">
  <tbody>
      <div style="display: flex; ">
          <% @products.each do |product| %>
          <div style="margin-right: 0px; text-align: center;">
              <%= video_tag product_path(product), controls: true, style: "max-width: 300px;" %>
              <p><%= product.name %></p>
          </div>
      </div>
    <% end %>
  </tbody>
</table>



<div class="back-to-index">
  <%= link_to "一覧に戻る", products_path, class: "btn btn-secondary" %>
  <%= link_to "ログアウト", top_logout_path %>
</div>

