<%= form_with model: @buyitem, url: buyitems_path do |f| %>
  <p>
    <%= f.label :name, '商品名' %>
    <%= Product.find(params[:product_id]).name %>
  </p>
  <p>
    <%= f.label :price, '価格' %>
    <%= Product.find(params[:product_id]).price %>
  </p>
  <%= form_for :buys_item, url: buyitems_path do |b| %>
  <%= f.hidden_field :product_id, value: Product.find(params[:product_id]).id %>
  <%= f.submit "購入リストに追加" %>
  <% end %>
  <%= link_to "ホームに戻る", products_path %>
<% end %>
