<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flixio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'style', media: 'all' %>
</head>

<body>
  <!-- ヘッダー -->
  <header>
    <nav>
      <h3 class="flixio-title"><%= link_to 'Flixio', products_path, class: 'title-link' %></h3>
      <ul>
        <li style="display: flex; align-items: center;">
          <h2 style="margin-right: 20px;">管理者ダッシュボード</h2>
          <%= link_to 'ログアウト', top_logout_path %>
        </li>
      </ul>
    </nav>
  </header>
  
  <div style="margin: 20px">
    <strong><%= @user.uid %>さん</strong>
    <p>【再生リスト】</p>
    <ul>
      <% if @listitems.any? %>
        <% @listitems.each do |i| %>
        <li>
          <%= link_to i.product.name, admin_product_path(i.product) %>
        </li>
        <% end %>
      <% else %>
        <p>再生リストは空です。</p>
      <% end %>
    </ul>

  <%= link_to '戻る', admin_root_path, class: 'button' %>
  </div>
</body>
</html>