<h1>商品一覧</h1>
<div class="search_form">
  <%= form_with url: search_results_path, local: true, method: :get do |f| %>
    <%= f.text_field :word %>
    <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
    <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>
</div>
<br></br>

<div style="display: flex; flex-wrap: wrap;">
  <% @products.each do |e| %>
    <div style="margin-right: 20px; text-align: center;">
      <%= video_tag product_video_path(e), controls: true, style: "max-width: 400px;" %>
      <p><%= e.name %><%= "￥#{e.price}" %></p>
      <%= link_to '削除', product_path(e), data: { turbo_method: :delete } %>
      <%= link_to 'リストに追加', new_listitem_path(product_id: e.id) %>
      <%= link_to '購入', new_buyitem_path(product_id: e.id) %>
    </div>
  <% end %>
</div>


<%= link_to "新規追加", new_product_path %>
<%= link_to "ログアウト", top_logout_path %>
<%= link_to '再生リスト', list_path(current_list.id) %>
<%= link_to '購入リスト', buys_path(current_list.id) %>
