<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @product.name %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'style', media: 'all' %>
</head>

<body>
  <!-- 商品情報 -->
  <h1><%= @product.name %></h1>

<!-- 動画が存在する場合にのみ表示 -->
<% if @product.file.attached? %>
  <div>
    <%= video_tag rails_blob_path(@product.file, disposition: "inline"), controls: true, style: "max-width: 200px;" %>
  </div>
<% else %>
  <p>動画はありません。</p>
<% end %>

<br><br>

<%= link_to "ホームに戻る", products_path %>
</body>
</html>