<h1><%= @product.name %></h1>
<p>価格: <%= @product.price %></p>
<%= video_tag product_video_path(@product), controls: true, style: "max-width: 200px;" %>
<br><br>

<%= link_to "視聴履歴に戻る", watch_history_user_path %><br>
<%= link_to "一覧に戻る", products_path %>