<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Flixio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div style="background-color: #333; padding: 3px 0;">
    <nav class="kanri-title">
      <% if current_user&.admin? %>
        <%= link_to 'dashboard', admin_root_path, class: 'kanri-link' %>
      <% end %>
    </nav>
    </div>
    <%= yield %>
  </body>
</html>
